DigitalSignageUI/Service References/LiveVideosServices/liveVideos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14985/Services/liveVideos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
  <xs:import schemaLocation="http://localhost:14985/Services/liveVideos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" />
  <xs:element name="addLiveVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="videos" nillable="true" type="q1:LiveTVInfoWTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiveVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="addLiveVideoResult" nillable="true" type="q2:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLiveContentsAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLiveContentsAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="loadLiveContentsAdsResult" nillable="true" type="q3:ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLivesTvAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content_id" type="xs:long" />
        <xs:element minOccurs="0" name="companyId" type="xs:long" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLivesTvAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="loadLivesTvAdsResult" nillable="true" type="q4:ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchContentsWithLiveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content_id" type="xs:long" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchContentsWithLiveItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="searchContentsWithLiveItemResult" nillable="true" type="q5:ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>